@use "variables" as *;

.display-weather {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: $text-shadow;

  &__location {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__current-temp {
    margin: 0.5rem 0;
    font-size: 4.5rem;
    font-weight: 200;
  }

  &__condition {
    margin-bottom: 0.25rem;
  }

  &__details-temperature {
    font-size: 0.9rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1rem;

    > p {
      margin: 0;
    }
  }
}
.action-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn img {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    filter: brightness(0) invert(1);
  }

  &__btn:disabled {
    opacity: 0;
    cursor: default;
  }
}
