.main-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    font-weight: 300;
    text-shadow: $text-shadow;
  }

  &__search-bar {
    width: 100%;
  }

  &__search-input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: $border-radius;
    border: none;
    box-sizing: border-box;
  }

  &__city-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.city-wrapper {
}
.city {
  @include card();
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  cursor: pointer;
  text-shadow: $text-shadow;
  background: linear-gradient(0deg, #0003, #0003), var(--condition-image);
  background-size: cover;
  background-position: 50% 25%;

  &__name {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__condition {
    margin-top: 2rem;
  }
  &__temperature {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
  }

  &__right-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
