@use "styles/_variables" as *;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #394759;
}

#app {
  padding: 1rem;
  background: linear-gradient(0deg, #404547, #252e3a 51%);
  width: 400px;
  height: 900px;
  min-height: unset;
  overflow: auto;
  border-radius: 6px;
  box-shadow: 1px 1px 5px #0000004d;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  &__header {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px 5px #000;
  }
  &__edit {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 1px 1px 5px #000;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  &__search {
    width: 100%;
  }
  &__search input {
    width: 100%;
    font-size: 1rem;
    padding: 15px 12px;
    border-radius: 10px;
    border: 1px solid $border;
    box-sizing: border-box;
  }
}
