@use "styles/_variables" as *;
@import "styles/_components";

* {
  margin: 0;
  padding: 0;
}

body {
  @include largeScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $bg-color;
  }
}

#app {
  color: $text-color;
  padding: 1rem;
  background: $bg-gradient;
  min-height: 100vh;
  font-family: $font;

  @include largeScreen {
    width: 400px;
    height: 900px;
    min-height: unset;
    overflow: auto;
    border-radius: 6px;
    box-shadow: $box-shadow;
  }
}

.background-weather {
  background-image:
    linear-gradient(0deg, #0003, #0003), var(--detail-condition-image);
  background-size: cover;
  background-position: center;
}
